<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="samcom.example.senoirandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <application
        
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"	
        android:screenOrientation="landscape" 
        android:configChanges="orientation|keyboardHidden">
        
        <activity
            android:name=".Main"
            android:label="@string/app_name" 
            android:screenOrientation="landscape" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
     
        <activity android:name=".myDBClass"
                  android:label="@string/app_name" 
                  android:screenOrientation="landscape"/>
        
        <activity android:name=".LoginManage"
                  android:screenOrientation="landscape"/>
        
        <activity android:name=".AdminRegis"
                  android:screenOrientation="landscape"/>
        <activity android:name=".AdminEdit"
                  android:screenOrientation="landscape"/>
        <activity android:name=".AdminReport"
                  android:screenOrientation="landscape"/>
        
        <activity android:name=".SelectPoliceLevel"
                  android:screenOrientation="landscape"/>
        <activity android:name=".PlL1CountCar"
                  android:screenOrientation="landscape"/>
        <activity android:name=".PlL2TypeCar"
                  android:screenOrientation="landscape"/>
        <activity android:name=".PlL3PlusCar"
                  android:screenOrientation="landscape"/>
        
        <activity android:name=".SelectMarketLevel"
                  android:screenOrientation="landscape"/>
        <activity android:name=".MkL3BestFood"
                  android:screenOrientation="landscape"/>
        <activity android:name=".MkL2CountMoney"
                  android:screenOrientation="landscape"/>
        <activity android:name=".MkL1Weight"
                  android:screenOrientation="landscape"/>
               

        <activity android:name=".SelectHouseLevel"
                  android:screenOrientation="landscape"/>
        <activity android:name=".HouseLevel1"
                  android:screenOrientation="landscape"/>
        <activity android:name=".HsL1Shape"
                  android:screenOrientation="landscape"/>
        <activity android:name=".HouseLevel2"
                  android:screenOrientation="landscape"/>
        <activity android:name=".HsL2Match"
                  android:screenOrientation="landscape"/>
        <activity android:name=".HouseLevel3"
                  android:screenOrientation="landscape"/>
        <activity android:name=".HsL3Job"
                  android:screenOrientation="landscape"/>
        
        <activity android:name=".SelectSchoolLevel" 
            	  android:screenOrientation="landscape"/>                
        <activity android:name=".ScL2Count" 
            	  android:screenOrientation="landscape"/>
        <activity android:name=".ScL3Calendar" 
            	  android:screenOrientation="landscape"/>
        <activity android:name=".ScL1LongShort" 
            	  android:screenOrientation="landscape"/>
   
        
        <activity android:name=".FarmLevel1"
                  android:label="@string/app_name" 
                  android:screenOrientation="landscape"/>
         <activity android:name=".SelectFarmLevel"
                  android:screenOrientation="landscape"/>
         <activity android:name=".FrL1Aniname"
                  android:screenOrientation="landscape"/>
         <activity android:name=".FrL2Shadow"
                  android:screenOrientation="landscape"/>
         <activity android:name=".FrL3Typeani"
                  android:screenOrientation="landscape"/>
        
        <activity android:name=".HospitalLevel1"
                  android:label="@string/app_name" 
                  android:screenOrientation="landscape"/>
         <activity android:name=".SelectHospitalLevel"
                  android:screenOrientation="landscape"/>
        <activity android:name=".HpL1Use"
                  android:screenOrientation="landscape"/>
        <activity android:name=".HpL2Body"
                  android:screenOrientation="landscape"/>
         <activity android:name=".HpL3Season"
                  android:screenOrientation="landscape"/>
        
        <activity android:name=".login1" 
            	  android:screenOrientation="landscape"/>
        
        <activity android:name="org.achartengine.GraphicalActivity" />
        
    </application>

</manifest>